<!-- <app-header></app-header>
<app-submenu></app-submenu>
<router-outlet></router-outlet> -->
<header class="custom-header text-center">
    <app-header></app-header>
  </header>

  <!-- Side Menu -->
  <div class="row">
    <div class="col-md-2 custom-side-menu">     
      <!-- Add your side menu items here -->
      <app-side-menu></app-side-menu>
    </div>

    <!-- Body Content -->
    <div class="col-md-9">
      <div class="container mt-4">   
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="custom-footer text-center mt-4">
    <p>This side is registerd with adarsh &copy; 2023</p>
  </footer>